<% obj = @user %>

<% if obj.errors.any? %>
<div class="row">
<div class="col-sm-8 offset-sm-2">
    <div class="card border-danger mb-3">
    <div class="card-header text-white bg-danger">
        <h5 class="card-title center my-0 text-danger">
        <%= pluralize(obj.errors.count, "error") %> prohibited this user
        from being saved:
        </h5>
    </div>
    <div class="card-body text-danger">
        <ul>
        <% obj.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
        </ul>
    </div>
    </div>
</div>
</div>
<% end %>
